#Translator options

model = ''
#<string> (default: '') Path to the serialized model file.

lm_model = ''
#<string> (default: '') Path to serialized language model file.
lm_weight = 0.1
#<number> (default: 0.1) Relative weight of language model.

beam_size = 5
#<number> (default: 5) Beam size.

max_sent_length = 250
#<number> (default: 250) Maximum output sentence length.

replace_unk = false
#[<boolean>] (default: false)
replace_unk_tagged = false
#[<boolean>] (default: false)The same as replace_unk, but wrap the replaced token in ｟unk:xxxxx｠ if it is not found in the phrase table.

lexical_constraints = false
#[<boolean>] (default: false) Force the beam search to apply the translations from the phrase table.

limit_lexical_constraints = false
#[<boolean>] (default: false) Prevents producing each lexical constraint more than required.

placeholder_constraints = false
#[<boolean>] (default: false) Force the beam search to reproduce placeholders in the translation.

phrase_table = ''
#<string> (default: '') Path to sourcetarget dictionary to replace <unk> tokens.

n_best = 1
#(default: 1) If > 1, it will also output an nbest list of decoded sentences.
max_num_unks = inf
#<number> (default: inf) All sequences with more <unk>s than this will be ignored during beam search.

target_subdict = ''
#<string> (default: '') Path to target words dictionary corresponding to the source.

pre_filter_factor = 1
#<number> (default: 1) Optional, set this only if filter is being used. Before applying filters, hypotheses with top beam_size * pre_filter_factor scores will be considered. If the returned hypotheses voilate filters, then set this to a larger value to consider more.

length_norm = 0
#<number> (default: 0) Length normalization coefficient (alpha). If set to 0, no length normalization.

coverage_norm = 0
#<number> (default: 0) Coverage normalization coefficient (beta). An extra coverage term multiplied by beta is added to hypotheses scores. If is set to 0, no coverage normalization.

eos_norm = 0
#<number> (default: 0) End of sentence normalization coefficient (gamma). If set to 0, no EOS normalization.

dump_input_encoding = false
#[<boolean>] (default: false) Instead of generating target tokens conditional on the source tokens, we print the representation (encoding/embedding) of the input.

save_beam_to = ''
#<string> (default: '') Path to a file where the beam search exploration will be saved in a JSON format. Requires the dkjson package.
